%div.bucket_asset{ :id => "asset_#{asset.id}" }
  %a{ :href => "#", :onclick => "Effect.toggle('info_#{asset.id}', 'appear', { duration: 0.4 }); return false;" } 
    = image_tag(*values) 
  //, :url => '#', :after => "Effect.Appear('info_#{asset.id}',{ duration: 0.6 })"
  .image_info{ :id => "info_#{asset.id}", :style => "display: none" }
    %p
      %strong= asset.title
    %p= link_to "Thumbnail Url", asset.image_url(:thumbnail)
    %p= link_to "Original Url", asset.image_url
    %p= link_to "Edit", asset_edit_url(asset)
    %p
      %a{ :href => "#", :onclick => "Effect.Fade('info_#{asset.id}', { duration: 0.4 }); return false; " }
        Close
