- include_stylesheet 'admin/assets'

%h1 
  Images
  = ': ' + @tag.titlecase if @tag
  
%p
  = link_to image_tag('admin/new-asset.png', :alt => 'New Asset'), asset_new_url
%p
  %label Search
  %input{ :type => "text", :id => "search", :name => "search" }
  = observe_field 'search',  :frequency => 1, :update => 'assets_table', :url =>  { :controller => 'admin/asset', :action=> 'index' }, :with => "'search=' + escape(value)"

= render :partial => 'bucket'

#assets_table
  = render :partial => 'asset_table'





